* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    width: 50%;
    margin: 50px auto;
    display: flex;
}

#carousel {
    width: 80%;
}

.item {
    height: 320px;
    position: relative;
    display: none;
}

.item.active {
    display: block;
}

.item img {
    height: 100%;
}

img {
    width: 100%;
    display: block;
}

.text {
    color: #fff;
    text-align: end;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#thumbs {
    width: 17%;
    display: flex;
    flex-flow: column wrap;
    position: relative;
    height: 320px;
}

.thumb {
    height: calc(100% / 5);
}

.thumb img {
    opacity: .5;
    height: 100%;
}

.thumb.active img {
    opacity: 1;
    border: 2px solid #f3f592;
}

#thumbs .arrow {
    text-align: center;
    font-size: 1rem;
    padding: 5px 10px;
    background-color: #cecece;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px #9c9b9b;
    border: 2px solid transparent;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.arrow.next {
    top: 95%;
}

.arrow.prev {
    bottom: 95%;
}

/*
EXTRA: in questo esempio gli accordion vengono creati
usando 2 bordi di un quadratino ruotato di 45 gradi
In una versione base si possono usare delle icone
oppure i caratteri ∧ (&and;) e ∨ (&or;)
 */
.prev::after {
    content: '';
    width: 10px;
    height: 10px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    display: block;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%) rotate(-45deg);
}

.next::before {
    content: '';
    width: 10px;
    height: 10px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    display: block;
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translate(-50%) rotate(135deg);
}